<script type="text/javascript" src="/js/views/assembly.js">
</script>
<template id="assembly-item-template">
    <div>
        <div>
            <span v-bind:class="{'btn-secondary': selected_assembly==assembly}" class="btn btn-sm" v-on:mousedown="clickSelect()">
                <a  v-on:click="expanded=!expanded" ><i class="fa-fw" v-bind:class="[plusClassObject]"></i></a>
                <span
                    v-bind:title="assembly.code+' ('+assembly.name+')'"
                >
                    [{{ assembly.count }}] {{ assembly.code }} ({{ assembly.name }})
                </span>
            </span>
        </div>
        <div style="margin-left: 2rem" v-show="expanded">
                <assembly-item v-for="child in assembly.children"
                        v-bind:assembly="child"
                        v-bind:selected_assembly="selected_assembly"
                        v-on:select="selectChild"
                ></assembly-item>
        </div>
    </div>
</template>
<template id="view-assembly-template">
<div class="h-100">
      <div class="h-100">
        <div class="row h-100" style="padding-bottom: 1rem">
            <div class="col-4 h-100">
                <div class="card h-100">
                    <div class="card-header">
                        <button class="btn btn-outline-dark btn-sm"
                                v-on:click="detail_info_visible=!detail_info_visible"
                                v-bind:class="{active: detail_info_visible}"
                        >
                            <i title="Показать подробную информацию о детали" class="fas fa-fw fa-cogs">
                            </i>
                        </button>
                        <span v-if="havePermission('tbdd_pdm_core.api.details.add_detail_to_assembly')">
                            <button class="btn btn-outline-dark btn-sm"
                                    title="Уменьшить количество или убрать деталь из сборки"
                                    v-if="selected_assembly!=undefined && selected_assembly.level==1"
                                    v-on:click="removeCurrentDetailFromAssembly()">
                                <i class="fas fa-fw fa-minus"></i>
                            </button>
                            <button class="btn btn-outline-dark btn-sm"
                                    title="Увеличить количество деталей в сборке"
                                    v-if="selected_assembly!=undefined && selected_assembly.level==1"
                                    v-on:click="addDetailToAssembly(selected_assembly)">
                                <i class="fas fa-fw fa-plus"></i>
                            </button>
                        </span>

                    </div>
                    <div class="card-body" style="overflow: scroll">

                         <assembly-item
                                 v-if="current_assembly!=undefined"
                                 v-bind:assembly="current_assembly"
                                 v-bind:selected_assembly="selected_assembly"
                                 v-on:select="selectItem">
                         </assembly-item>
                    </div>
                </div>
            </div>
            <div class="col h-100" style="padding-left: 0">
                <div class="card h-100">
                    <div class="card-body">
                        <div v-if="!detail_info_visible">
                            <div class="row">
                                <span style="width: 1rem;"></span>
                                <a class="btn btn-outline-secondary" v-on:click="loadDetails()" title="Обновить список"><i class="fas fa-fw fa-sync-alt"></i>
                                </a>
                                <span style="width: 0.2rem;"></span>
                                <input class="form-control form-inline" style="max-width: 20rem" placeholder="Фильтр" v-model="detail_filter" v-on:input="loadDetails">
                                <span style="width: 0.2rem;"></span>
                                <button  v-bind:disabled="current_page==1"
                                     class="btn btn-outline-secondary"
                                     v-on:click="prevPage()"
                                     title="Обновить список">
                                    <i class="fas fa-fw fa-arrow-left"></i>
                                </button>
                                <span style="width: 0.2rem;"></span>
                                <button v-bind:disabled="current_page==total_pages"
                                        class="btn btn-outline-secondary"
                                        v-on:click="nextPage()"
                                        title="Обновить список">
                                    <i class="fas fa-fw fa-arrow-right"></i>
                                </button>
                            </div>
                            <div style="height:1rem"></div>
                            <table>
                                <table class="table table-bordered table-sm">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Шифр детали</th>
                                        <th>Наименование</th>
                                        <th>Описание</th>
                                        <th></th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                        <tr v-for="detail in details">
                                            <td><input type="checkbox" v-model="detail._checked"></td>
                                            <td>{{ detail.code }}</td>
                                            <td>{{ detail.name }}</td>
                                            <td class="text-truncate" style="max-width: 20rem" v-bind:title="detail.description">{{ detail.description }}</td>
                                            <td style="min-width: 5.5rem">
                                                <a class="btn btn-outline-secondary btn-sm"
                                                   title="Добавить деталь в текущую сборку"
                                                   v-if="havePermission('tbdd_pdm_core.api.details.add_detail_to_assembly')"
                                                   v-on:click="addDetailToAssembly(detail)">
                                                    <i class="fas fa-fw fa-plus">

                                                    </i>
                                                </a>
                                                <a class="btn btn-outline-secondary btn-sm"
                                                   title="Редактировать деталь как сборку"
                                                   v-on:click="editAssembly(detail)">
                                                    <i class="far fa-fw fa-edit">

                                                    </i>
                                                </a>


                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                        </div>
                        <div v-else>
                            <div v-if="selected_assembly!=undefined">
                                <div><span>Шифр детали: </span><span class="form-control">{{ selected_assembly.code }}</span></div>
                                <div><span>Наименование: </span><span class="form-control">{{ selected_assembly.name }}</span></div>
                                <div>
                                    <div>Описание: </div>
                                    <div class="form-control">{{ selected_assembly.description }}</div>
                                </div>
                                <div>
                                    <div>Прикреплённые файлы:</div>
                                    <div v-for="file in selected_assembly.files">
                                        <a v-bind:href="'/api/details/' + selected_assembly.id + '/files/' + file.name">{{ file.name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</template>
