<script type="text/javascript" src="/js/views/details.js">
</script>
<template id="view-details-template">
    <div>
    <div>
        <div>
            <div class="row">
                <span style="width: 1rem;"></span>
                <a class="btn btn-outline-secondary" v-on:click="loadData()" title="Обновить список"><i class="fas fa-fw fa-sync-alt"></i>
                </a>
                <span style="width: 0.2rem;"></span>
                <a class="btn btn-outline-secondary"
                   v-on:click="addDetail()"
                   v-if="havePermission('tbdd_pdm_core.api.details.create_detail')"
                   title="Создать деталь"
                >
                    <i class="fas fa-fw fa-plus">

                    </i>
                </a>
                <span style="width: 0.2rem;"></span>
{#                <a class="btn btn-danger btn-outline-danger"><i class="fas fa-fw fa-trash-alt"></i>#}
{#                </a>#}
{#                <span style="width: 0.2rem;"></span>#}
                <input class="form-control form-inline" style="max-width: 20rem" placeholder="Фильтр" v-model="detail_filter" v-on:input="loadData">

            </div>
        </div>
        <div style="height:1rem"></div>
        <table class="table table-bordered table-sm">
            <thead>
            <tr>
                <th></th>
                <th>Шифр детали</th>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Стандартное изделие</th>
                <th></th>
            </tr>

            </thead>
            <tbody>
                <tr v-for="detail in details">
                    <td><input type="checkbox" v-model="detail._checked"></td>
                    <td>{{ detail.code }}</td>
                    <td>{{ detail.name }}</td>
                    <td class="text-truncate" style="max-width: 20rem" v-bind:title="detail.description">{{ detail.description }}</td>
                    <td><input type="checkbox" disabled class="form-check-inline" v-model="detail.is_standard"></td>
                    <td>
                        <a class="btn btn-outline-secondary btn-sm" v-on:click="editDetail(detail)">
                            <i class="far fa-fw fa-edit">

                            </i>
                        </a>
                        <a class="btn btn-outline-danger btn-sm" v-on:click="deleteDetailConfirm(detail)" v-if="havePermission('tbdd_pdm_core.api.details.delete_detail')">
                            <i class="far fa-fw fa-trash-alt">

                            </i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="modal fade show" style="display: block" tabindex="-1" v-show="showmodal">
          <div class="modal-dialog" style="max-width: 50rem">
            <div class="modal-content" >
              <div class="modal-header">
                <h5 class="modal-title">Деталь</h5>
                <button class="close" type="button" v-on:click="showmodal=false">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="alert alert-danger alert-dismissible" v-for="message, index in messages">
                      <button type="button" class="close" v-on:click="messages.splice(index,1)" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message.text }}
                  </div>
                  <label class="form-check-label">Шифр детали</label>
                  <input class="form-control" v-model="current_detail.code">
                  <label class="form-check-label">Наименование</label>
                  <input class="form-control" v-model="current_detail.name">
                  <label class="form-check-label" >Описание</label>
                  <textarea class="form-control" v-model="current_detail.description"></textarea>

                  <input type="checkbox" class="form-check-inline" v-model="current_detail.is_standard">
                  <label class="form-check-label"> Стандартное изделие</label>
                  <div>
                      <div v-for="file, index in current_detail.files">
                          <a class="btn btn-sm" v-on:click="deleteFile(file)">
                            <i class="far fa-fw fa-trash-alt"></i>
                          </a>
                          <a v-bind:href="'/api/details/' + current_detail.id + '/files/' + file.name">{{ file.name }}</a>
                      </div>
                  </div>
                  <div class="card" id="filedropzone">
                      <div class="card-body" v-if="current_detail.id==undefined">
                          Сохраните деталь для появления возможности добавления файлов
                      </div>
                      <div class="card-body" v-else>
                          Перетащите файл для загрузки
                      </div>

                  </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" v-on:click="showmodal=false">Закрыть</button>
                <button class="btn btn-primary" v-on:click="saveCurrent(false)" v-if="havePermission('tbdd_pdm_core.api.details.update_detail')" >Сохранить</button>
                <button class="btn btn-primary" v-on:click="saveCurrent(true)" v-if="havePermission('tbdd_pdm_core.api.details.update_detail')">Сохранить и закрыть</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-backdrop fade show" v-show="showmodal"></div>

        <div class="modal fade show" style="display: block" tabindex="-1" v-show="showdeleteconfirm">
          <div class="modal-dialog" style="max-width: 50rem">
            <div class="modal-content" >
              <div class="modal-header">
                <h5 class="modal-title">Удалить деталь</h5>
                <button class="close" type="button" v-on:click="showdeleteconfirm=false">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                  Вы действительно хотите удалить {{ current_detail.code }} ({{ current_detail.name }})
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" v-on:click="showdeleteconfirm=false">Отмена</button>
                <button class="btn btn-danger" v-on:click="deleteDetail(current_detail)" v-if="havePermission('tbdd_pdm_core.api.details.delete_detail')" >Удалить</button>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-backdrop fade show" v-show="showdeleteconfirm"></div>

    </div>
</template>